# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Build output
build/
dist/

# Vercel
.vercel

*~
local.mk
tags
.DS_Store
Makefile
examples/node/svgdump/
examples/node/pdf2png/*.png
